In [2]:
import wbdata
import datetime as dt

wbdata.get_source()

In [3]:
# wbdata.get_data("NY.GDP.MKTP.KD.ZG", country="CN")
countries = ["CN"]                                                                                                 
indicators = {"NY.GDP.MKTP.KD.ZG": "gdp_annual_growth"}
dt_range = dt.datetime(2008, 1, 1), dt.datetime(1990, 1, 1)
df = wbdata.get_dataframe(indicators, country=countries, convert_date=False, data_date=dt_range)
df

      gdp_annual_growth
date
2008           9.650679
2007          14.230861
2006          12.720956
2005          11.394592
2004          10.113621
2003          10.038030
2002           9.133631
2001           8.335733
2000           8.490093
1999           7.661652
1998           7.845952
1997           9.236780
1996           9.922557
1995          10.953954
1994          13.036807
1993          13.883729
1992          14.224530
1991           9.262786
1990           3.920251